header {
    padding : 0;
    background-image: url('/Resources/forest.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 200px 100px 200px;
    background-attachment: fixed;
}
header h1 {
    font-size: 100px;
    font: Arial;
    text-align: left;
    color: black;
    padding: 0;
    text-shadow:10px 5px 5px gray; 
}
h2{
    font-size: 30px;
    font: Arial;
    text-align: left;
    color:black;

}
h3 {
    font-size: 40px;
    font: Arial;
    text-align: left;
}
h4 {
    font-size: 35px;
    font: Arial;
    text-align: left;
    padding-left: 0px;
}
body {
    background-color: #ffefd7;
    text-align: center;
}
.about-me {
    padding-left: 200px;
    padding-right: 200px;
}
.mainAbout {
    font: Arial;
    text-align: left;
    font-size: 25px;
}
.about {
    float: left;
    padding: 10px; 
}
.left {
    width: 60%;
    background-color: rgba(255, 187, 147, 0.89);
    border-style: inset;
}
.picture {
    width: 30%;
    background-color: #ffe7c3;
    border-style: solid;
    border-color: rgba(151, 148, 148, 0.89)
}
.about-me:after {
    content: "";
    display: table;
    clear: both;
  }

.ultimate-frisbee {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 800px
}
.ultimate {
    float: left;

}
.desc {
    font: Arial;
    text-align: left;
    font-size: 25px;
}
.twitter {
    width: 35%;
}
.carletonUni {
    width: 300px;
    height: 200px;
    float: right;
    padding-right: 50px;
}
.footerSocials {
    position: fixed;
    right: 0;
    bottom: 0;
}
.fa-linkedin{
    color: black;
}
.fa-github {
    color: black;
}
.fa-at {
    color: black;
}
.list {
    font: Arial;
    text-align: left;
    font-size: 25px;
}
.gitlink {
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
    padding-bottom: 40px;
}
.projectAbout {
    text-align: left;
    font: Arial;
    font-size: 25px;
    font-weight: bold;
}
.projects {
    border-style: hidden;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
.project-individual {
    border-top-style: inset;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: rgb(167, 167, 167);
    border-right-color: rgb(167, 167, 167);
    outline: 50px hidden;
    background-color: rgba(255, 187, 147, 0.89);
}
.example {
    font: Arial;
    font-size: 20px;
}
.title {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}
.RiskPic {
    width: 1500px; 
    height: 800px;
    border-style: solid;
    border-color: gray;
}
