header {
    font-family: Tahoma, sans-serif;
    padding : 0;
    background-size: 100% 100%;
    padding: 200px 100px 200px;
}
header h1 {
    font-family: Tahoma, sans-serif;
    font-size: 100px;
    font: Arial;
    text-align: left;
    color: black;
    text-shadow:10px 5px 5px gray; 
}
h2{
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    font: Arial;
    text-align: left;
    color:black;

}
h3 {
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    font: Arial;
    text-align: left;
}
h4 {
    font-family: Tahoma, sans-serif;
    font-size: 35px;
    font: Arial;
    text-align: left;
}
body {
    font-family: Tahoma, sans-serif;
    background-color: white;
    text-align: center;
}
.about-me {
    margin-left: 200px;
    margin-right: 200px;
}
.mainAbout {
    font-family: Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
}
.about {
    float: left;
    padding: 15px; 
}

.background {
    position:absolute;
    top: 0; 
    bottom: 0;
    left: 0;  
    right: 0;
    z-index: -1;
}

.left {
    width: 60%;
    background-color: lightgray;
    border-style: inset;
    margin-top: 10px;
}
.about-me:after {
    content: "";
    display: table;
    clear: both;
  }

.ultimate-frisbee {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 900px
}
.ultimate {
    float: left;
}
.desc {
    font-family: Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.twitter {
    padding-top: 40px;
    width: 35%;
}
.carletonUni {
    width: 300px;
    height: 200px;
    float: right;
    padding-right: 50px;
}
.footerSocials {
    position: fixed;
    right: 0;
    bottom: 0;
}
.fa-linkedin{
    color: black;
}
.fa-github {
    color: black;
}
.fa-at {
    color: black;
}

.list {
    font-family: Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
}
.gitlink {
    font-family: Tahoma, sans-serif;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
    padding-bottom: 40px;
}
.projectAbout {
    text-align: left;
    font: Tahoma;
    font-size: 25px;
    font-weight: bold;
}
.projects {
    border-style: hidden;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
.project-individual {
    border-top-style: inset;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: rgb(167, 167, 167);
    border-right-color: rgb(167, 167, 167);
    outline: 50px hidden;
    background-color:lightgray;
}
.example {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}
.twitter-desc {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}
.title {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}
.RiskPic {
    width: 1200px; 
    height: 600px;
    border-style: solid;
    border-color: gray;
    object-fit:f;
    max-width: 100%;
    height: auto;
}
.AlexPic {
    border-style: solid;
}
.layout {
    width: 500px;
    height: auto;
    border-style: solid;
    border-color: gray;
}

.section {
    opacity: 0;
    transition: opacity 2s;
}

.section.visible {
    opacity: 1;
}

.btn {
    float: right;
    border: none;
    background-color: white;
    color: black;
}
